<!-- <ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar> 
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-label id="heading">Forgot Password</ion-label>
          
         </ion-row> 
         
         <ion-row>
          <ion-text id="content">Enter your College email address and we will email you the OPT to reset your password</ion-text>
              
             </ion-row> 

             <ion-row id="loginForm">
              <form #form="ngForm" (ngSubmit)="forgotPassword(form)">
                <br> 
                <ion-card>
                <ion-item id="tree">
                  <!-- <ion-label position="floating">Username:</ion-label> -->
                  <ion-icon name="mail"></ion-icon>
                  <ion-input type="text" placeholder="Enter email"  name="email" ngModel></ion-input>
                  
                </ion-item>

              </ion-card>
                <br><br>
                <div>
                  <ion-button  type="submit">
                    Send OTP</ion-button>
                  <br>
                  <!-- <ion-button expand="block" color="primary" (click)="goToNextPage()">Register</ion-button> -->
                </div>
 
        
              </form>
            </ion-row>

</ion-grid>
</ion-content>
