<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopOver($event)">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="full">
  <ion-grid class="para">
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-img src="../../assets/iotalliance.jpg"></ion-img>

      </ion-col>
      <ion-col size="12" size-md="6">
        <p class="tree">IoT Alliance is a not for profit club founded by Dr. Kayalvizhi Jayavel to offer internships on
          embedded systems in 2014.
          Later, to travel along the trend and strengthen, a team of students joined on board and started gaining and
          disseminating their expertise about Internet of Things (IoT), who are our pillars now driving the entire club,
          the alumni mentors.
          This club is redefining the faculty, alumni and junior connect to a new dimension.
          IoT Alliance has support from Department of Information Technology, SRM Institute of Science and Technology,
          Kattankalathur, Chennai.
          We are working on several projects few of which are completed and deployed successfully.</p>
      </ion-col>


    </ion-row>

    <ion-row class="mem">
      <ion-col size="12" size-md="6" push-md="4" style="text-align: center;">
        <p>Team Members:</p>

      </ion-col>
      <ion-col size="12" size-md="6" style="text-align: center;">
        <p style="" class="">
          Samaaja Naraharisetti (Project Lead)
          <br><br>
          Raghav Sharma (Hardware)
          <br><br>
          Sudhanshu Basu Roy (Frontend Dev)
          <br><br>
          Varun Kondreddy (Backend Dev)
          <br><br>
          Swaroop Nandy (Backend Dev)
        </p>
      </ion-col>

    </ion-row>

    <ion-row class="mem">
      <ion-col size="12" size-md="6" push-md="4" style="text-align: center;">
        <p>Follow Us:</p>

      </ion-col>
      <ion-col size="12" size-md="6" style="text-align: center;">
        <ion-row style="text-align: center;">
          <ion-col size-md="3" size="4" style="text-align: center;">
            <a href="https://instagram.com/iotalliance.srm/"> <i class="fab fa-instagram"></i></a>
          </ion-col>
          <ion-col size-md="3" size="4" style="text-align: center;">
            <a href="https://www.linkedin.com/company/iot-aliance"><i class="fab fa-linkedin-in"></i></a>
          </ion-col>
          <ion-col size-md="3" size="4" style="text-align: center;">
            <a href="https://www.iotalliance.in/"><i class="fas fa-globe-asia"></i></a>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>


  </ion-grid>

</ion-content>