ion-toolbar{
    --background:#f5f6f8;
    }
    ion-grid{
       
        background:#f5f6f8;
      } 
    
    
    ion-title{
      color:  #5b86e5;
      font-family: Gibson;
      font-size: 26px;
      font-weight: 600;
    }
    
    ion-buttons{
      color:#4c5264;
    }
ion-icon{
    font-size: 30px;
    float: right;
}

