ion-toolbar {
  --background: #f5f6f8;
}

ion-title {
  color: #5b86e5;
  font-family: Gibson;
  font-size: 26px;
  font-weight: 600;
}

ion-buttons {
  color: #4c5264;
}

ion-grid {
  height: 100%;
  width: 100%;
  background: #f5f6f8;
}

#card1 {
  border-left: #5b86e5 8px solid;
  color: #4c5264;
  background-color: white;
}

#card-content {
  padding-left: 0;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
