<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>User Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="padding: 1rem;">
  <ion-col size="3">Name:</ion-col><ion-col size="9" style="color: rgb(90, 90, 90)">{{name}}</ion-col>
  <ion-col size="3">Email:</ion-col><ion-col size="9" style="color: rgb(90, 90, 90)">{{email}}</ion-col>
  <ion-col size="3">Admin:</ion-col><ion-col size="9" style="color: rgb(90, 90, 90)">{{admin}}</ion-col>
  <ion-col size="8" text-center style="align-self: center;">Delete this profile</ion-col><ion-col size="4"><ion-button size="small" color="danger">Delete</ion-button></ion-col>
</ion-row>
</ion-content>
